
<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Sobre Nosotros</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">En TecnoScorpion, nuestra pasión es la tecnología. Nos enorgullece ser vendededor de productos tecnológicos y licencias OEM, y queremos compartir contigo nuestra historia y nuestro compromiso con la innovación. Ofrecemos una amplia gama de productos tecnológicos de alta calidad, desde dispositivos electrónicos innovadores hasta software esencial. Además, nuestras licencias OEM te proporcionan soluciones legales y asequibles para tus necesidades de software. Todo ello respaldado por nuestro compromiso con la excelencia y la satisfacción del cliente.</p>
            
        </div>
        
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="https://tecnoscorpion.com/assets/img/TECNOSCORPION%20FONDO%20DE%20PANTALLA.png" alt="A group of People" />
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-between gap-8 pt-1">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">¿Para quienes?</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">PYMES Y EMPRESAS
                </p>
                <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
                    NO AUDITADAS POR MICROSOFT
                    </p>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
                        USUARIOS FINALES</p>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
                        Licenciamiento ORIGINAL Y PERMANENTE</p>
                        
        </div>
    </div>
  
    </div>